@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sacramento';
  src: url('/styles/fonts/Sacramento-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Style Script';
  src: url('/styles/fonts/StyleScript-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'STIXTwoText';
  src: url('/styles/fonts/STIXTwoText-VariableFont_wght.ttf') format('truetype');
}

.Sacramento-regular {
  font-family: 'Sacramento';
  font-weight: 400;
}
.stylescript-regular {
  font-family: 'Style Script';
  font-weight: 400;
}
.STIXTwoText-regular {
  font-family: 'STIXTwoText';
  font-weight: 400;
}
.top-banner-bg{
  background-image: url('/images/banner-bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}